#comments.comments-area
  h2.comments-title
    | 1 thought on “comments”
  ol.comment-list
    li
      article#div-comment-2.comment-body
        footer.comment-meta
          .comment-author.vcard
            img.avatar.avatar-42.photo(alt='', src='http://2.gravatar.com/avatar/e5191d7390609982c5b98f746157afdb?s=42&d=mm&r=g', srcset='http://2.gravatar.com/avatar/e5191d7390609982c5b98f746157afdb?s=84&d=mm&r=g 2x', height='42', width='42')
            b.fn=comment.name
            span.says says:
          // .comment-author
          .comment-metadata
            a(href='http://localhost:9000/comments/#comment-2')
              time(datetime='2017-01-12T17:51:09+00:00')
                | {date}
          // .comment-metadata
        // .comment-meta
        .comment-content
          p=comment.comment
        // .comment-content
      // .comment-body
    // #comment-##
  // .comment-list
// .comments-area