#dronewar1.site-content
  #primary.content-area
    main#main.site-main(role='main')
      article#post-171.post-171.page.type-page.status-publish.hentry
        header.entry-header
          h1#pagetitle.entry-title dronewar1.com
        // .entry-header
        .entry-content
          section.row
            .container
              .row
                .col-xs-12
                  h2
                    | Click 
                    a#loadGame  here
                    |  to load game.
                  h2#ios10dis
                    | Sorry you need IOS 10 or higher to play multiplayer
                  h2
                    | Or click 
                    a#loadMultiGame  here
                    |  to load two player game.
                  p Login to save your game settings.
                  p Any problems let me know in the comments or email me at 
                    a( href="mailto:dronewar1@gmail.com") dronewar1@gmail.com
                  p Levels complete when all large ships go dark

              .row
                .col-12
                  .row
                    .col-12
                      .videoWrapper
                        iframe( width="560" height="349" src="https://www.youtube.com/embed/Jgt8DQHvaZw" frameborder="0" allowfullscreen )
                  .row#usercont
                    .col-12
                      p
                      label Mac/Pc controls
                      ul#cntrl
                        li Up Arrow forward
                        li Down Arrow backwards
                        li Space fire laser
                        li Mouse control sight
                        li Press f to go full screen
                        li Esc to pause
                  .row#inoutss
                    .col-12
                      label Select to play inside/outside space fighter
                      .row.mb28
                        .col-xs-6.col-sm-6.col-md-6.col-lg-6
                          input#insidesf(type="button" value="Inside")
                        .col-xs-6.col-sm-6.col-md-6.col-lg-6
                          input#outsidesf(type="button" value="Outside")
                  .row#sndfxbutrow
                    .col-12
                      label Mute soud fx
                      div
                        input#sndfxbutton(type="button" value="on")
                  .row#adjgamevol
                    .col-12 
                      p
                      label Adjust sound fx volume
                      #sndlevel1a.sliderstylea
                        #sndlevel2a.sliderstyleb
                         #sndfxval.sliderVal 5
                  .row#adjlooksen
                    .col-12 
                      p
                      label Adjust look sensitivity
                      #looklevel1a.sliderstylea
                        #looklevel2a.sliderstyleb
                          #looksensval.sliderVal 5
