#game-content
  input#insideship(type='hidden', value='clicked outside')
  #loadingScreen
    #lscont
      #numImg.ls 0
      .ls  of 8 
      #perCom.ls
  #errScreen
  #container.container
    #accelCont
      #accel
      #gmap.divRed
        #mapcircle1.mapcircle
        #mapms1.mapms
        #mapms2.mapms
        #mapline
      // change to live
      //#perf
    #tapaccel
      #addforce
        #addforcebut
        i#arrowmarginup.fa.fa-arrow-up(aria-hidden="true")
      #spacertapaccel
      #minusforce
        #minusforcebut
        i#arrowmargindown.fa.fa-arrow-down(aria-hidden="true")
    #mobcon
      i#cl.fa.fa-caret-left.mobconcaret(aria-hidden="true")
      i#cup.fa.fa-caret-up.mobconcaret(aria-hidden="true")
      i#cr.fa.fa-caret-right.mobconcaret(aria-hidden="true")
      i#cd.fa.fa-caret-down.mobconcaret(aria-hidden="true")