#game-content
  input#insideship(type='hidden', value='inside')
  #loadingScreen
    #lscont
      #numImg.ls 0
      .ls  of 8 
      #perCom.ls
  #errScreen
  #container.container
    #accelCont
      #accel
      #gmap.divRed
        #mapcircle1.mapcircle
        #mapms1.mapms
        #mapms2.mapms
        #mapline
      // <div id="perf"></div>
    #tapaccel
      #addforce
        #addforcebut
      #spacertapaccel
      #minusforce
        #minusforcebut
    #mobcon