doctype html
html.no-js(lang='en-US', manifest='dronewarfare.appcache', type='text/cache-manifest')
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', type='text/css', href='style/style101216.css')
    link(rel='stylesheet', type='text/css', href='style/wp.css')
    link(rel='stylesheet', type='text/css', href='style/frontend.css')
    link(rel='stylesheet', type='text/css', href='style/frontend-grid.css')
    link(rel='stylesheet', type='text/css', href='style/style101216.css')
    link(rel='icon', type='image/png', href='images/favicon.ico')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    meta(name="description" content="3d space, first person shooter, webgl, threejs, mobile game")
    meta(name="robots" content='3d, space game, first person shooter,  mobile game')
    meta(name="googlebot" content='3d, space game, first person shooter, mobile game')
  body.no-sidebar
    #page.site
      .site-inner
        a.skip-link.screen-reader-text(href='#content') Skip to content
        header#masthead.site-header(role='banner')
          .site-header-main
            .site-branding
              p.site-title
                a(href='http://siolsite.tk', rel='home') siolsite
              p.site-description Javascript experiments
            // .site-branding
            .header-image
              a(rel='home')
                  img(src='images/websiteImg/cropped-banner-web_1280.jpg', srcset='images/websiteImg/cropped-banner-web_1280-300x70.jpg 300w, images/websiteImg/cropped-banner-web_1280-768x179.jpg 768w, images/websiteImg/cropped-banner-web_1280-1024x238.jpg 1024w, images/websiteImg/cropped-banner-web_1280.jpg 1200w', sizes='(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px', width='1200', height='279', alt='siolsite')
            // .header-image
            div
        // .site-header
        #content.site-content
          #primary.content-area
            main#main.site-main(role='main')
              article#post-171.post-171.page.type-page.status-publish.hentry
                header.entry-header
                  h1.entry-title Drone War 1
                // .entry-header
                .entry-content
                  .fw-page-builder-content
                    section.fw-main-row
                      .fw-container
                        .fw-row
                          .fw-col-xs-12
                            p
                              | Click 
                              a#loadGame  here
                              |  to load game.
                            p Or click on the screen shot below, that shows phone and tablet controls
                            p Any problems let me know in the comments or email me at 
                              a( href="mailto:dronewar1@gmail.com") dronewar1@gmail.com
                        .fw-row
                          .fw-col-xs-12
                            .form-wrapper.contact-form
                              form#form1.fw_form_fw_form(data-fw-form-id='fw_form', method='post', data-fw-ext-forms-type='contact-forms')
                                input(type='hidden', name='fwf', value='fw_form')
                                input#_nonce_271fca0b2bb618b7f84815c4d944dab4(type='hidden', name='_nonce_271fca0b2bb618b7f84815c4d944dab4', value='214f76bc4f')
                                input(type='hidden', name='_wp_http_referer', value='/website/mf-drone-warfare/')
                                input(type='hidden', name='fw_ext_forms_form_type', value='contact-forms')
                                input(type='hidden', name='fw_ext_forms_form_id', value='6f91151150af7bca8c532047defd694a')
                                .wrap-forms
                                  .fw-row
                                  .fw-row
                                    .fw-col-xs-12.fw-col-sm-6.form-builder-item
                                      .field-radio.input-styled
                                        p Levels complete when all large ships go dark 
                                        label Select to play inside/outside space fighter
                                        .custom-radio.field-columns-1
                                          .options
                                            input#rand-1(type='radio', name='radio_3698130', value='clicked inside')
                                            label(for='rand-1') clicked inside
                                          .options
                                            input#rand-2(type='radio', name='radio_3698130', value='clicked outside')
                                            label(for='rand-2') clicked outside
                                  .fw-row
                                    .fw-col-xs-12
                                      a#startGame(target='_self')
                                        img(src='images/websiteImg/controls.png', alt='images/websiteImg/controls.png')
                                  .fw-row
                                    .fw-col-xs-12
                                      p 
                                      p Mac/Pc controls :-
                                      ul
                                        li Up Arrow forward
                                        li Down Arrow backwards
                                        li Space fire laser
                                        li Mouse control sight
                                        li Press f to go full screen
                                        li Esc to pause

                // .entry-content
                footer.entry-footer
                //
                  <footer class="entry-footer"><span class="edit-link"><a class="post-edit-link" href="http://siolsite.tk/website/wordpress/wp-admin/post.php?post=171&#038;action=edit">Edit<span class="screen-reader-text"> "Drone Warfare"</span></a></span></footer>
              // #post-##
              include game_comments.pug
            // .site-main
            include comment.pug
        // .content-area
      // .site-content
      footer#colophon.site-footer(role='contentinfo')
      // .site-footer
      // .site-inner
      // .site
    include game_content.pug
    input( id='consoleData',type='hidden',value=cd)

    script(type='text/Javascript', src='js/defaultpage.js')
    //script(type='text/Javascript', src='js_minified/defaultpage.js')
    script(src="/reload/reload.js")
    script(src='//localhost:35729/livereload.js')
      























