.fw-row#levelChng
  .fw-col-xs-12
    img#respawnImg.levelChngImg(src='/images/websiteImg/lvlchngimg/respawn.png', alt='/images/websiteImg/lvlchngimg/respawn.png')
    img#level1Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level1.png', alt='/images/websiteImg/lvlchngimg/level1.png')
    img#level2Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level2.png', alt='/images/websiteImg/lvlchngimg/level2.png')
    img#level3Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level3.png', alt='/images/websiteImg/lvlchngimg/level3.png')
    img#level4Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level4.png', alt='/images/websiteImg/lvlchngimg/level4.png')
    img#level5Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level5.png', alt='/images/websiteImg/lvlchngimg/level5.png')