.row#droneCountRow
	.col-sm-12.col-md-12.col-lg-12#droneCount
		.row
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				.dh15
		.row
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				img#droneIcon( src="/images/websiteImg/dw_icon128.png")
				| `s shot
			.col-xs-2.col-sm-2.col-md-2.col-lg-2
				p#numDrone
					| 0
		.row
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				p.ml5
					| Level Reached
			.col-xs-2.col-sm-2.col-md-2.col-lg-2
				p#numLevel
					| 1
		.row
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				p.ml5
					| Time Taken
			.col-xs-2.col-sm-2.col-md-2.col-lg-2
				p#timeTaken
					| 0

.row#levelChng
	.col-sm-12.col-md-12.col-lg-12
		img#respawnImg.levelChngImg(src='/images/websiteImg/lvlchngimg/respawn.png', alt='/images/websiteImg/lvlchngimg/respawn.png')
		img#level1Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level1.png', alt='/images/websiteImg/lvlchngimg/level1.png')
		img#level2Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level2.png', alt='/images/websiteImg/lvlchngimg/level2.png')
		img#level3Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level3.png', alt='/images/websiteImg/lvlchngimg/level3.png')
		img#level4Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level4.png', alt='/images/websiteImg/lvlchngimg/level4.png')
		img#level5Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level5.png', alt='/images/websiteImg/lvlchngimg/level5.png')
		img#level6Img.levelChngImg(src='/images/websiteImg/lvlchngimg/level6.png', alt='/images/websiteImg/lvlchngimg/level6.png')