#login-page
    .lform
        form.login-form.wrap-forms
            .fw-row
                .fw-col-xs-12.form-builder-item
                    input#usrname(type='text', placeholder='username', required='required')
            .fw-row
                .fw-col-xs-12.form-builder-item           
                    input#psswrd(type='password', placeholder='password', required='required')
            .fw-row
                .fw-col-xs-12.form-builder-item
                    input#emailinput.hideemail(type='text', placeholder='email address')
            .fw-row
                .fw-col-xs-12.form-builder-item
                    button#loginbutton login
                    p#message
                      | Not registered? 
                      a(href='#') Create an account
            .fw-row
                .fw-col-xs-12.form-builder-item
                    p#valmess &nbsp



