#login-page
    .lform
        span.close#closeLogin( onclick='closeLogin( {target: "close" })') x
        form.login-form.wrap-forms
            .fw-row
                .fw-col-12.form-builder-item
                    input#usrname(type='text', placeholder='username', required='required')
            .fw-row
                .fw-col-12.form-builder-item           
                    input#psswrd(type='password', placeholder='password', required='required')
            .fw-row
                .fw-col-12.form-builder-item
                    input#emailinput.hideemail(type='text', placeholder='email address')
            .fw-row
                .fw-col-12.form-builder-item
                    button#loginbutton login
                    p#message
                      | Not registered? 
                      a(href='#') Create an account
            .fw-row
                .fw-col-xs-12.form-builder-item
                   .fb-login-button(onlogin="fblogin();", data-max-rows='1', data-size='medium', data-button-type='login_with', data-show-faces='false', data-auto-logout-link='false', data-use-continue-as='false', scope='public_profile, email')
            .fw-row
                .fw-col-xs-12.form-builder-item
                    p#valmess &nbsp



