#offer_health.site-content
doctype html
html(dir='ltr', lang='en')
  head
    meta(charset='UTF-8')
    title Eurotherm
    meta(name='description', content='')
    link(href='assets/images/eurotherm-icon.png', rel='icon')
    link(rel='stylesheet', type='text/css', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/stylesheet.css')
    script(src='assets/js/jquery-3.3.1.min.js')
    script(src='assets/js/bootstrap.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css', rel='stylesheet', type='text/css')
    script.
      var URL_TO_ROOT='<?=URL_TO_ROOT?>';
    style.
      input.inactive{
      background: inherit;
      border: inherit;
      }
      select.inactive {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      background: inherit;
      /* needed for Firefox: */
      overflow:hidden;
      /*width: 120%;*/
      }
      .table-striped > tbody >  tr.lockedRow:nth-child(even) {
      background-color:#f95b5bb0;
      }
      .table-striped > tbody >  tr.lockedRow:nth-child(odd) {
      background-color:#ff0000b0;
      }
      .lockedRow{
      background-color:#ff0000b0;
      }
  body
    // ======================HEADER=========================
    header
      .top-navbar
        .container
          .top-nav-content
            ul.nav.navbar-nav.navbar-left
              // ?=(VIEWDASHBOARD)?'<li
              a(href='dashboard.php') Dashboard
              | ':''?>
              // ?=(UNLOCKEDDATAACCESS)?'<li
              a(href='data.php') Secure Data
              | ':''?>
              // ?=(VIEWTARGETS)?'<li
              a(href='targets.php') Admin
              | ':''?>
      .bg_2
        .container
          .wrapper1
            .logo-caption
              a(href='https://www.eurotherm.co.uk/')
                img(src='https://www.eurotherm.co.uk/image/data/logos/Eurotherm-LiO_Logo_White-web.png', title='Eurotherm', alt='Eurotherm', width='254px')
            ul.nav-user.navbar-right
              li.dropdown
                a.dropdown-toggle(href='#fakelink', data-toggle='dropdown')
                  .img-circle.avatar
                    i.fa.fa-user
                  strong
                    // ?php echo USER_EMAIL ?
                ul.dropdown-menu.square.primary.margin-list-rounded.with-triangle
                  // ?php if(MANAGEUSERS){ ?
                  li.custom_link_one
                    a(href='users.php') Manage Users
                  // ?php } ?
                  li.custom_link_one
                    a(href='#', onclick='showChangePasswordModal();') Change Password
                  li.custom_link_one
                    a(href='#', onclick='logout();') Log Out
    // ======================CONTENT========================
    #content
      .container
        ul.nav.nav-tabs.nav-primary.square
          li
            a(href='dashboard.php') Summary
          li
            a(href='performance.php') Performance
          li
            a(href='yearToDate.php') Year To Date
          li
            a(href='oob.php') OOB
          li
            a(href='trackers.php') Trackers
          li.active
            a(href='#fakelink') Offer Health
      .title-holder
        .container
          h1.heading_title
      .wrapper1
        .row
          .col-sm-12
            .row
              div(style='margin: 0 auto; width: 1259px;')
                .pull-right.cpButton
                  i#cpfa.fa.fa-angle-double-left.fa-5x
                .pull-right
                  .panel-body
                    h5
                      | MTBF (hrs) - 
                      strong
                        #mtbfhrs
                    h5.no-margin
                      | MTBF (yrs) - 
                      strong
                        #mtbfyrs
            .row
              .panel-body.charts(style='margin: 0 auto; width: 1259px; padding-top: 0px')
                #pcChart(style='float: left; margin-left: 4px;')
                #mtbfChart(style='float: left;margin-left: 40px;')
              .legendContainerOfferHealth
                .row
                  .lgnSep.pull-left
                    .retBoxOfferHealth.pull-left
                    .pull-left Returns
                  .lgnSep.pull-left
                    .lightBlueBlackBorderBox.pull-left
                    .pull-left Shipments
                  .lgnSep.pull-left
                    .yellLineWaranty.pull-left
                      .yellCircle
                    .pull-left Warranty (Actual)
                  .lgnSep.pull-left
                    .greyLineFFR.pull-left
                      .greyCircle
                    .pull-left FFR (Actual)
                  .lgnSep.pull-left
                    .redLineOOB.pull-left
                      .redCircle
                    .pull-left OOB (Actual)
                  .lgnSep.pull-left
                    .purpleLineOfferHealth.pull-left
                      .purpleCircle
                    .pull-left Spot MTBF (Hrs)
                //
                  <div class="row">
                  </div>
            .row(style='margin: 0 auto;width: 1259px;padding: 40px 0 0 0;')
              #retChart0.col-sm-4
              #retChart1.col-sm-4
              #retChart2.col-sm-4
          #controlPanel.col-sm-3(style='top: 400px;')
            //
              <div class="panel">
              <div class="panel-body">
              <h5>MTBF (hrs) - <strong><div id="mtbfhrs"></div></strong></h5>
              <h5 class="no-margin">MTBF (yrs) - <strong><div id="mtbfyrs"></div></strong></h5>
              </div>
              </div>
            .panel
              .panel-heading
                h5.no-margin Offer Configurator
              .panel-body(id='')
                .form-horizontal.form-condensed
                  .form-group
                    label.control-label.col-sm-4 Offer Line
                    span.col-sm-8
                      select#offerLine.form-control(onchange="reloadOfferDropDowns( 'offerLine' );")
                        option(value='', selected='') Please select
                        option(value='CONTROL') CONTROL
                        option(value='Controllers - Legacy') Controllers - Legacy
                        // <option value="powercontrol">Power Control</option>
                  .form-group
                    label.control-label.col-sm-4 Offer Group
                    span.col-sm-8
                      select#offerGroup.form-control(onchange="reloadOfferDropDowns( 'offerGroup' );")
                        option(value='', selected='') Please select
                        option(value='ZC463/4') ZC463/4
                        option(value='K Series') K Series
                        // <option value="future">Future</option>
                  .form-group
                    label.control-label.col-sm-4 Offer
                    span.col-sm-8
                      select#offer.form-control(onchange="reloadOfferDropDowns( 'offer' );")
                        option(value='', selected='') Please select
                        option(value='22-100-000-0900') 22-100-000-0900
                        // <option value="epack">EPACK</option>
                  .form-group
                    label.control-label.col-sm-4(for='rangeFromDate') Range from
                    span.col-sm-8
                      // <input class="datepicker form-control" id="rangeFromDate"  min="2013-01" max="<?=date('Y-m');?>"/>
                      input#rangeFromDate.datepicker.form-control
                  .form-group
                    label.control-label.col-sm-4(for='rangeToDate') Range to
                    span.col-sm-8
                      input#rangeToDate.datepicker.form-control
                  .form-group
                    label.control-label.col-sm-4 Resolution
                    span.col-sm-8
                      select#res.form-control
                        option(value='', selected='') Please select
                        option(value='monthly') Monthly
                  .form-group
                    label.control-label.col-sm-4(for='utilisationFactor') Utilisation Factor
                    span.col-sm-6
                      input#utilisationFactor.form-control(onkeypress='drawStacked()', type='number', value='90', step='1', max='100', min='1')
                    span.col-sm-2 %
                  .form-group
                    label.control-label.col-sm-4(for='paretoAnalysisFromDate') Pareto Analysis from
                    span.col-sm-8
                      input#paretoAnalysisFromDate.datepicker.form-control
                  .form-group
                    label.control-label.col-sm-4(for='paretoAnalysisToDate') Pareto Analysis to
                    span.col-sm-8
                      input#paretoAnalysisToDate.datepicker.form-control
              hr.no-margin
              .panel-heading
                h5.no-margin Report Configurator
              .panel-body(id='')
                .form-condensed
                  .col-sm-4
                    .form-group
                      .checkbox
                        label
                          input#shipChkd(type='checkbox', value='', checked='')
                          | Shipments
                      .checkbox
                        label
                          input#retChkd(type='checkbox', value='', checked='')
                          | Returns
                      .checkbox
                        label
                          input#mtbfChkd(type='checkbox', value='', checked='')
                          | MTBF
                  .col-sm-4
                    .form-group
                      .checkbox
                        label
                          input#ffrChkd(type='checkbox', value='', checked='')
                          | FFR
                      .checkbox
                        label
                          input#warrantyChkd(type='checkbox', value='', checked='')
                          | Warranty
                      .checkbox
                        label
                          input#oobChkd(type='checkbox', value='', checked='')
                          | OOB
                  .col-sm-4
                    .form-group
                      .checkbox
                        label
                          input#paretoChkd(type='checkbox', value='')
                          | Pareto
                      .checkbox
                        label
                          input#yellWarn(type='checkbox', value='', checked='')
                          | Warnings
                      //
                        <div class="checkbox">
                        <label><input type="checkbox" value="" checked>Messages</label>
                        </div>
              .panel-footer.clearfix
                .pull-right
                  button.btn.btn-primary(onclick='extractData();')
                    | Extract Data 
                    i.fa.fa-database
      // ?php include_once(PATH_TO_ROOT . '/includes/modals/changePassword.php'); ?
      //
        ========================================================
        FOOTER
        =========================================================
      footer
        .container
          .wrapper1
            .row
              .col-sm-12
                p.pull-right
                  | Schneider Electric ©
                  // ?php echo date("Y") ?
                  // Javascript
                  script(src='<?=URL_TO_ROOT?>js/standard.js')
                  script(src='<?=URL_TO_ROOT?>assets/plugins/datepicker/bootstrap-datepicker.js')
                  script(src='<?=URL_TO_ROOT?>assets/plugins/tooltipster/tooltipster.bundle.min.js')
                  script(src='<?=URL_TO_ROOT?>assets/js/jquery-ui.min.js')
                  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')