#settings.site-content
	#primary.content-area
		main#main.site-main(role='main')
			article#post-171.post-171.page.type-page.status-publish.hentry
				header.entry-header
					h1#pagetitle.entry-title Settings
				// .entry-header
				.entry-content
					.fw-page-builder-content
						section.fw-main-row
							.fw-container
								form.settingsform.wrap-forms
									.fw-row
										.fw-col-xs-12
											h2
												| Controls

									.fw-row
										.fw-col-12
											ul.list-group
												li#shoot00.list-group-item.justify-content-between
													| Keyboard character to shoot
													span#sbut.badge.badge-default spc
												li#fthrust10.list-group-item.justify-content-between
													| Keyboard character to fire forward thrusters
													span#fbut.badge.badge-default up
												li#rthrust20.list-group-item.justify-content-between
													| Keyboard character to fire reverse thrusters
													span#rbut.badge.badge-default down


									.fw-row
										.fw-col-12
											h2
												| Play inside or outside space fighter 
									.fw-row
										.fw-col-12
											ul.list-group
												li#pinside31.list-group-item.justify-content-between
													| Play inside space fighter
													span#ibut.badge.badge-default Inside
												li#poutside31.list-group-item.justify-content-between
													| Play outside space fighter
													span#obut.badge.badge-default Outside
									.fw-row
										.fw-col-12
											h2
												| Mute sound fx
									.fw-row
										.fw-col-12
											ul.list-group
												li#sfxon42.list-group-item.justify-content-between
													| Sound FX
													span#sfxonbut.badge.badge-default On
												li#sfxoff42.list-group-item.justify-content-between
													| Sound FX
													span#sfxoffbut.badge.badge-default Off
									.fw-row
										.fw-col-12
											h2
												| Stay logged in ?
									.fw-row
										.fw-col-12
											ul.list-group
												li#slin53.list-group-item.justify-content-between
													| Stay logged in
													span#slinbut.badge.badge-default On
												li#slout53.list-group-item.justify-content-between
													| Stay logged out
													span#sloutbut.badge.badge-default Off
									.fw-row
										.fw-col-12
											h2
												| Adjust sound fx volume
									.fw-row
										.fw-col-12
											#sndlevel1b.s.sliderstylea
												#sndlevel2b.sliderstyleb
													#sndfxvala.sliderVal 5
									.fw-row
										.fw-col-12
											h2
												| Adjust look sensitivity
									.fw-row
										.fw-col-12
											#looklevel1b.s.sliderstylea
												#looklevel2b.sliderstyleb
													#looksensval.sliderVal 5

									.fw-row
										.fw-col-xs-12
											h2 
												| Save settings
									.fw-row
										.fw-col-xs-12
											button#udset save
											button#udsetoff saved

