#web_app.site-content
  #primary.content-area
    main#main.site-main(role='main')
      article#post-209.post-209.page.type-page.status-publish.hentry
        header.entry-header
          h1.entry-title Web App
        // .entry-header
        .entry-content
          .fw-page-builder-content
            section.fw-main-row
              .fw-container
                .fw-row
                  .fw-col-xs-12
                    h2 Add the game as web app to home screen
                .fw-row
                  .fw-col-xs-12.fw-col-sm-6
                    p Click the the box with an arrow image. This will show the next image
                  .fw-col-xs-12.fw-col-sm-6
                    img(src='/images/websiteImg/dt1.png', width='300', height='450')
                .fw-row
                  .fw-col-xs-12
                    .dh20
                .fw-row
                  .fw-col-xs-12.fw-col-sm-6
                    p
                      | Click the box that says Add to Home Screen, check your main screen for the new web app.
                  .fw-col-xs-12.fw-col-sm-6
                    img(src='/images/websiteImg/dt2.png', alt='http://localhost:8887/website/wordpress/wp-content/uploads/2017/01/dt2-300x450.png', width='300', height='450')
