
 /*iphone 6 landscape*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : landscape) { 

	#addforce {
		display: none;
    	height: 35%;
    	width: 100%;
	}
	#addforcebut {
		background-color: #FFFF00;
		border-radius: 100%;
		height: 40%;
		width: 35%;
		left: 50%;
		top: 50%;
		position: relative;
		transform: translate(-50%, -50%);
	}
	#arrowmarginup {
		margin-left: 26px;
	    margin-top: -3px;
	    position: absolute;
	}
	#arrowmargindown {
		margin-left: 26px;
	    margin-top: -1px;
	    position: absolute;
	}
	#cl {
		left: 3%;
    	top: 28%;
	}
	#cr {
		left: 66%;
    	top: 28%;
	}
	#cd {
		left: 12%;
    	top: 63%;
	}
	#cup {
		left: 35%;
    	top: -9%;
	}
	#minusforcebut {
		background-color: #00FF00;
		border-radius: 100%;
		height: 40%;
		width: 35%;
		left: 50%;
		top: 50%;
		position: relative;
		transform: translate(-50%, -50%);
	}
	#spacertapaccel {
    	height: 18%;
    	width: 100%;
	}
	#tapaccel {
		bottom: 0;
	    height: 41%;
	    margin: 3% 3% 0 3%;
	    position: absolute;
	    right: 0;
	    width: 10%;
	}
}
/*iphone 6 portrait*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (orientation : portrait) { 

	#addforcebut {
	    height: 51%;
    	width: 64%;
	}
	#arrowmarginup {
		margin-left: 30%;
    	margin-top: -21%;
	}
	#arrowmargindown {
		margin-left: 30%;
    	margin-top: -17%;
	}
	#cl {
		left: 3%;
    	top: 35%;
	}
	#cr {
		left: 45%;
    	top: 35%;
	}
	#cd {
		left: -14%;
    	top: 77%;
	}
	#cup {
		left: 24%;
    	top: -7%;
	}
	#login-page {
   		width: 80%;
   		top: 11%;
   	}
	#minusforcebut {
		background-color: #00FF00;
		border-radius: 100%;
		height: 40%;
		width: 35%;
		left: 50%;
		top: 50%;
		position: relative;
		transform: translate(-50%, -50%);
	}
	.mobconcaret {
		font-size: 20px;
	}
	#minusforcebut {
		height: 51%;
    	width: 64%;
	}
	#tapaccel {
		width: 10%;
	}

}