/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	/*overflow: hidden;*/
	width: 100%;
	
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}


a {
	background-color: transparent;
	cursor: pointer;
}
a:focus {
	outline: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}



#accel {
	background-color:#2646ea;
	height:10%;
	left: 0;
	margin: 5% 0 0 5%;
	position: relative;
	top: 0;
	width: 0;
}
#accelCont {
	height:10%;
	position: absolute;
	width:10%;
}
#arrowmargindown {
	position: absolute;
}
#arrowmarginup {
	position: absolute;
}
.badge {
	  border-radius: .25rem;
	color: #fff;
	cursor: pointer;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .6em .8em;
    pointer-events: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.badge-default {
    background-color: #636c72;
    transition: 0.25s background-color ease-out;
}
.badge-color {
    background-color: #4CAF50;
}
#cl {
	position: relative;
}
#cup {
	position: relative;	
}
#cr {
	position: relative;
}
#cd {
	position: relative;
}
#container {
	/*change to live*/
	cursor: none;
	display: block;
	height:100%;
	width:100%; 
	position: absolute;
}
.dh20 {
	height: 20px;
}
.divGreen div {
	background-color: #66ff33;
}
.divRed div {
	background-color: #ff0000;
}
#errScreen {
	background-color: #000000;
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}
#errScreen #errdiv {
	color: #ffffff;
	display: block;
	left: 50%;
	margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.mobconcaret {
	font-size: 20px;
}
#game-content{
	display: none;
	height: 100%;
	width: 100%;
}
#gmap {
    
    background-color: #000000;
    height: 50%;
    margin: 5% 0 0 5%;
    position: relative;
    width: 50%;

}
#addforce {
	display: none;
	height: 35%;
	width: 100%;
}
#addforcebut {
	background-color: #FFFF00;
    border-radius: 100%;
    height: 50%;
    width: 50%;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.justify-content-between {
    -webkit-box-pack: justify!important;
    -webkit-justify-content: space-between!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
#level1Img {
	display: none;
}
#level2Img {
	display: none;
}
#level3Img {
	display: none;
}
#level4Img {
	display: none;
}
#level5Img {
	display: none;
}
#levelChng {
	position: absolute;
	margin-left: 0;
	top: 50%;
	width: 100%;
}
.levelChngImg {
	margin: 0 auto;
}
.lform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px 45px 0 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.lform input {
  margin: 0 0 15px;
  padding: 15px;
}
.lform button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.lform button:hover,.lform button:active,.lform button:focus {
  background: #43A047;
}
.lform .hideemail {
	display: block;
	height: 0px;
	margin: 0px;
	opacity: 0;
	padding: 0px;
	transition: 0.25s padding ease-out, 0.25s margin ease-out, opacity ease-out 0.25s, visibility ease-out 0.25s ;
	visibility: hidden;
}
.lform .showemail {
	height: 41px;
	margin: 0 0 15px;
	opacity: 1;
	padding: 15px;
	transition:  padding 0.25s ease-out, margin ease-out 0.25s, opacity ease-out 0.25s, visibility ease-out 0.25s ;
	visibility: visible;
}
.lform #message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.lform #message a {
  color: #4CAF50;
  text-decoration: none;
}
.list-group {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.list-group-item:last-child {
    margin-bottom: 28px;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.list-group-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.list-group-item:hover {
	background-color: #007acc;
}
#loadingScreen {
	background-color: #000000;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}
#loadingScreen #lscont {
	color: #ffffff;
	left: 50%;
	margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#login-page {
  display: none;
  right: 10%;
  margin: auto;
  position: absolute;
  top: 6%;
  width: 35%;
}
.ls {
	display: inline-block;
}
.mapcircle {
	border-radius: 100%;
	height: 20%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
}
#mapline {
    height: 2%;
    position: relative;
    top: 50%;
    width: 100%;
}
.mapms {
	background-color: #ffffff;
	border-radius: 100%;
	height: 10%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10%;

}
.menu-toggle.toggled-on {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    color: #fff;
}
#minusforce {
	border-radius: 18px;
	display: none;
	height: 35%;
	width: 100%;
}
#minusforcebut {
	background-color: #00FF00;
    border-radius: 100%;
    height: 50%;
    width: 50%;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
#mobcon {
	bottom: 5%;
    background-color: #ffffff;
    display: none;
    height: 13%;
    left: 5%;
    position: absolute;
    width: 13%;
    border-radius: 18px;
}
 /* ios pop up */
 #popup {
  background:rgba(255,255,255,0.85);
  border-radius: 8px;
  box-sizing: border-box;
  display: none;
  margin:0 auto;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  width:84%;
  z-index: 10;
}

#popup h3 {
  margin: 20px 10px 0 10px;
  padding: 0;
}
#perf {
    color: white;
	font-size: 11px;
}
#popup p {
  margin: 15px;
  padding: 0;
}

#popup .button-holder a {
	color: #007AFF;
	text-decoration: none;
	line-height:45px;
	font-weight:bold;
	display: block;
	border-top: 1px solid #BABABA;
}

#popup .two-button a{
  width: 50%;
  float: left;
  box-sizing: border-box
}

#popup .two-button a:first-child {
  border-right: 1px solid #BABABA
}
#respawnImg {
	display: none;
}
#respawntxt {
	color: #ffffff;
	font-size: 115%;
	height: 20px;
	margin: 2% 2% 0 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
}
#settings {
	display: none;
}
.settingsform button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.settingsform button:hover,.settingsform button:active,.settingsform button:focus {
  background: #43A047;
}
#snav {
	display: none;
}
#sndfxbutton {
	background: #4CAF50;
	outline: none;
	width: 76px; 
}
#sndfxbutton:hover {
	background: #43A047;
}
#spacertapaccel {
	height: 30%;
	width: 100%;
}
/*accellerator controls*/
#tapaccel {
	bottom: 0;
	right: 0;
	height:20%;
	margin:3%;
	position: absolute;
	width:5%;
}
#valmess {
	color: #ff0000;
	font-size: 12px;

}
#web_app {
	display: none;
}

 @media (max-width: 992px) {
  	#login-page {
   		width: 40%;
   	}
}

/*iphone 6 plus*/
 @media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {

	#addforcebut {
		height: 65%;
    	width: 65%;
	}
	#arrowmarginup {
		margin-left: 10px;
	    margin-top: -12px;
	    position: absolute;
	}
	#arrowmargindown {
		margin-left: 10px;
	    margin-top: -12px;
	    position: absolute;
	}
	#cl {
		left: 3%;
    	top: 32%;
	}
	#cup {
		left: 35%;
    	top: -6%;
	}
	#cr {
		left: 69%;
    	top: 32%;
	}
	#cd {
		left: 14%;
    	top: 66%;
	}
	#minusforcebut {
		height: 65%;
    	width: 65%;
	}
	.mobconcaret {
		font-size: 21px;
	}

}




/*iphone 4s landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation: landscape) { 

	#addforce {
		display: none;
    	height: 35%;
    	width: 100%;
	}
	#addforcebut {
		background-color: #FFFF00;
		border-radius: 100%;
		height: 35%;
		width: 30%;
		left: 50%;
		top: 50%;
		position: relative;
		transform: translate(-50%, -50%);
	}
	#arrowmarginup {
		margin-left: 21px;
	    margin-top: 0px;
	    position: absolute;
	}
	#arrowmargindown {
		margin-left: 21px;
	    margin-top: 0px;
	    position: absolute;
	}
	#cl {
		left: 3%;
    	position: relative;
    	top: 20%;
	}
	#cup {
		left: 34%;
    	position: relative;	
    	top: -21%;
	}
	#cr {
		left: 65%;
    	position: relative;
    	top: 20%;
	}
	#cd {
		left: 12%;
    	position: relative;
    	top: 57%;
	}
	#minusforcebut {
		background-color: #00FF00;
		border-radius: 100%;
		height: 35%;
		width: 35%;
		left: 50%;
		top: 50%;
		position: relative;
		transform: translate(-50%, -50%);
	}
	.mobconcaret {
		font-size: 15px;
	}
	#spacertapaccel {
    	height: 18%;
    	width: 100%;
	}
	#tapaccel {
		bottom: 0;
	    height: 41%;
	    margin: 3% 3% 0 3%;
	    position: absolute;
	    right: 0;
	    width: 12%;
	}


}


































